
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.pokeball-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 1rem auto;
    display: block;
}